
practica-final.png

web/nbproject/private/private.properties

*.properties

web/nbproject/project.xml

web/public_html/assets/fonts/poppins/OFL.txt

web/public_html/assets/fonts/poppins/Poppins-Bold.ttf

web/public_html/assets/fonts/poppins/Poppins-SemiBold.ttf

web/public_html/assets/fonts/poppins/Poppins-Regular.ttf

web/public_html/assets/fonts/poppins/Poppins-Medium.ttf

web/public_html/assets/fonts/poppins/Poppins-Light.ttf

*.png

web/public_html/assets/images/hd-3.jpg

*.jpg
