/*
courseProject 
Alma Pérez 23.05.17
*/
 
/*reset*********/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*fonts*********/
h1{font-size: 50px; font-weight:700;}
h2{font-size:15px;text-transform: uppercase}
h3{}
h4{}
h5{}
h6{}
h7{}

p{}


/*global*********/

.content{
    max-width:1200px;
    margin:0 auto;
    padding:20px;
}

body{
    font-family:'Poppins', sans-serif;
    font-size:14px;
    font-weight: 300;   
}



nav li a{
    display:block;
    padding: 15px 10px;
    font-size: 13px;
    font-weight: 500;
    color:#696c6d; 
}
nav li a:hover{
    color:#56bdbd; 
}


a {
    text-decoration:none;
}


li{
    list-style: none;
}

/*repository*********/


#slider{
    background:url(../assets/images/hd-3.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#intro{
    background-color: #fff;
}
#services{
    background-color: #f6f9f8;
}

#case-study{
    background-color: #fff;
}

#company{
    background-color:#f6f9f8;
}

#contact{
     background-color: #f6f9f8;
}

.logos{
    background-color:#f6f9f8;
}

.facts{
    background-color:#f6f9f8;
}
header{
    display:block;
    position:relative;
    overflow: hidden;
}

.fixed{
    position:fixed;
    top:0px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
.menu{
    float:right;
   
}

nav li{
    display: inline-block;  
}

.banner{
   display:table;
   position:relative;
   top:200px;
   height:500px;
   border-left: 2px solid #000;
   padding-left: 30px; 
   animation:fadeInUp 5s;
}

.banner-txt{
  display: table-cell;
  vertical-align: top;
  line-height:60px;
}

.swiss{
   border-top: 3px solid #000;
   width:20px;
   
}
.boxed{
    width:25%;
    background-color: #fff;
}

ul>li{
    display:inline-block; 
}

.item{
    width:100%;
}